[Unit]
Description=WildFly Application Server
After=network.target

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
Type=simple
# Type=forking
ExecStart=/opt/shared/wildfly-{{ wildfly.version }}/bin/standalone.sh -c standalone-ha.xml
WorkingDirectory=/opt/shared/wildfly-{{ wildfly.version }}
User=root
Group=root
TimeoutStartSec=300
StandardOutput=null

[Install]
WantedBy=multi-user.target

