ui            = true
cluster_addr  = "http://172.17.8.220:8201"
api_addr      = "http://172.17.8.220:8202"
disable_mlock = true

storage "consul" {
  address = "{{ vault.consul_addr | default('consul:8500') }}"
  path    = "vault/"
}

#storage "raft" {
#  path = "/path/to/raft/data"
#  node_id = "raft_node_id"
#}
#
listener "tcp" {
  tls_disable = 1
  #address = "[::]:8200"
  address       = "172.17.8.220:8200"
#  tls_cert_file = "/path/to/full-chain.pem"
#  tls_key_file  = "/path/to/private-key.pem"
}

#telemetry {
#  statsite_address = "0.0.0.0:8125"
#  disable_hostname = true
#}
